/* custom classes */

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-direct-col {
  flex-direction: column;
}

/* breadcrumb */

.breadcrumb {
  margin-top: 3.7rem;
  column-gap: 1.4rem;
  font-size: clamp(1.4rem, 4vw, 2rem);
  color: var(--color-black);
}

/* header */

.header {
  padding: 3.4rem 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 89;
}

.navbar__logo {
  width: 16.2rem;
  height: 4rem;
}

.navbar__menu {
  gap: 3.5rem;
  font-size: 2.4rem;
}

.navbar__menu > li {
  position: relative;
  cursor: pointer;
}

.navbar__menu > li > a:hover,
.navbar__menu > li > a:active {
  color: var(--color-main);
}

/* dropdown */

.dropdown {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 40%);
  row-gap: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.navbar__menu > li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown > li > a {
  /* width: 17.1rem; */
  height: 3.1rem;
  border-radius: 1.8rem;
  border: 0.1rem solid var(--color-darker);
  padding: 1rem 3rem;
  font-size: 1.6rem;
}

.dropdown > li > a:hover,
.dropdown > li > a:active {
  background-color: var(--color-main);
  color: var(--color-white);
}

/* language */

#lang {
  color: var(--color-light-black);
  font-family: var(--main-font);
  font-size: 2rem;
}

/* custom select option start */

.s-hidden {
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: var(--color-light-black);
  font-family: var(--main-font);
  font-size: 2rem;
}

.styledSelect {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 0 10px;
  font-weight: bold;
}

.styledSelect:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-color: black transparent transparent transparent;
  position: absolute;
  top: 0.9rem;
  right: 0.6rem;
}

.options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  list-style: none;
}

.options li {
  margin-top: 1rem;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 3.1rem;
  border-radius: 1.8rem;
  border: 0.1rem solid var(--color-darker);
  padding: 1rem 3rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options li:hover {
  background-color: var(--color-main);
  color: var(--color-white);
}

/* custom select-option ended */

.mob_lang,
.close_menu,
.navbar__hamburger {
  display: none;
}

/* backdrop */

.backdrop {
  display: none;
  place-content: center;
  grid-auto-columns: minmax(27.5rem, 44rem);
  background-color: rgba(82, 82, 122, 0.4);
  padding: 0 2rem;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.backdrop.opened {
  display: grid;
}

.modal {
  max-width: 44rem;
  border-radius: 0.7rem;
  background-color: var(--color-navmob-bg);
  padding: 5.6rem 5.4rem 4.4rem;
  position: relative;
}

.modal__title {
  text-align: center;
  color: var(--color-white);
  font-size: clamp(2rem, 4vw, 3.2rem);
  font-weight: 600;
  line-height: 25.576px; /* 79.925% */
}

.modal__form {
  margin-top: 3.4rem;
  width: 100%;
}

.modal__form-inputs {
  row-gap: 2.4rem;
}

.modal__form-input {
  width: 100%;
  height: 4.3rem;
}

.modal__form-input > input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: var(--main-font);
  padding: 1.2rem 0.85rem;
  border-radius: 0.6rem;
  background-color: var(--color-white);
}

.modal__form-btn {
  height: 4.8rem;
  width: 100%;
  padding: 1.2rem 0.85rem;
  color: var(--color-white);
  font-size: clamp(1.6rem, 4vw, 2rem);
  font-family: var(--main-font);
  background: var(--color-linear-blue);
  margin-top: 7.6rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--color-main);
}

.modal__form-btn:hover,
.modal__form-btn:active {
  background: var(--color-white);
  color: var(--color-main);
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 400;
  padding: 1.2rem 3.8rem;
  z-index: 99;
}

/* responsive */

@media only screen and (max-width: 992px) {
  .navbar__menu {
    gap: 2.1rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    z-index: 90;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    position: absolute;
    top: -100vh;
    left: 0;
    z-index: 99;
    width: 100%;
    height: max-content;
    padding: calc(100vh / 8) 0;
    background-color: var(--color-navmob-bg);
    color: var(--color-white);
    font-size: 2rem;
    transition: top 0.4s ease;
  }

  .navbar__menu.active {
    top: 0;
  }

  .navbar__menu > li {
    width: 100%;
    padding: 1.5rem;
    border-top: 0.1rem solid var(--color-white);
    text-align: center;
    height: 5.3rem;
    transition: height 0.3s ease;
  }

  .navbar__menu > li.opened {
    height: 13rem;
  }

  .navbar__menu > li > a:hover,
  .navbar__menu > li > a:active {
    color: inherit;
  }

  .dropdown {
    margin-top: 1.4rem;
    position: static;
    transform: unset;
    row-gap: 1.9rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .navbar__menu > li:hover > .dropdown {
    visibility: hidden;
    opacity: 0;
  }

  .navbar__menu > li.opened > .dropdown {
    opacity: 1;
    visibility: visible;
  }

  .dropdown > li > a {
    height: auto;
    border-radius: unset;
    border: unset;
    padding: unset;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .dropdown > li > a:hover,
  .dropdown > li > a:active {
    background-color: unset;
    color: var(--color-white);
  }

  .lang {
    display: none;
  }

  .mob_lang {
    display: block;
  }

  .mobile__lang {
    column-gap: 3.1rem;
    justify-content: center;
    margin-top: 3rem;
  }

  .lang_option {
    position: relative;
    cursor: pointer;
  }

  .lang_option.active::after {
    content: "";
    position: absolute;
    top: 100%;
    left: -12%;
    height: 0.3rem;
    width: 123%;
    border-radius: 0.6rem;
    border-bottom: 0.3rem solid var(--color-main);
    transition: 0.3s ease;
  }

  li.close_menu {
    display: block;
    position: absolute;
    top: 2.1rem;
    right: 1.7rem;
    width: auto;
    border-top: 0;
  }

  .navbar__hamburger {
    display: block;
  }

  .modal__form-btn {
    margin-top: 6rem;
  }

  .footer {
    margin-top: 10.4rem;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 9.3rem;
  }
}

@media only screen and (max-width: 480px) {
  .breadcrumb > div > svg {
    width: 1.6rem;
    height: 1.3rem;
  }
}
